/* #region body */
body {font-family: "Roboto", sans-serif; 
background-color: #ffffff;
color: #434455;}
a {text-decoration: none;}
ul,ol {
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;}
.container {
    width:1158px;
    padding:0 15px;
    
    margin: 0 auto;

}
button {cursor: pointer;}
img {display: block;}
/* #endregion */

/* #region header */

.logo-header 
    {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
     }
.header-span 
    {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    
    }
.header-page {border-bottom: 1px solid #e7e9fc}
.header-page .container{
    justify-content: space-between;
    display: flex;
    
}
.navy-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list 
    {
    display: flex;
    gap:40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
     }


.nav-link {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    }
.nav-link:focus,
.nav-link:hover {
    color: #404bbf;}

.addrs {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.addrs-list {
    display: flex;
    gap:40px}
.addrs-item {}

.addrs-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-top: 24px;
padding-bottom: 24px;
display: block;}


.addrs-link:hover,
.addrs-link:focus {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;}
/* #endregion */

/* #region section-hero */
.hero {background-color: #2e2f42;
    padding: 188px 0px;
    
}
.hero .container {}
    

    
    
    


.hero-title {
    font-weight: 700px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
   max-width: 496px;
    color: #ffffff;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
  
    
    
    
    
}
    

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        border-radius: 4px;
        min-width: 169px;
        height:56px;
        align-items: center;
        display: block;
        border: none;
        margin-right: auto;
        margin-left: auto;
       
            
    
        
        }
.hero-btn:hover,
.hero-btn:focus {background-color: #404bbf;}
/* #endregion */

/* #region section-two */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-two {background: #ffffff;
padding: 120px 0;}
.title-two-sect {font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.list-sect-two {display: flex;}


.item-sect-two {
    gap:24px;
    margin-right: 24px;
    width: calc((100% - 72px) / 4);
    }
.item-sect-two:last-child {margin-right: 0;}
.subject {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;}

.description {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
/* #endregion */

/* #region section-three */
.section-three {
    background: #f4f4fd;
    padding: 120px 0px;
}

.title-three-sect 
{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;}
.list-sect-three {
    display: flex;
    
    
}

.item-sect-three {background: #ffffff;
    gap: 24px;
    margin-right: 24px;
    width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;}
.item-sect-three:last-child {
    margin-right: 0
}
.info-subj {
    padding: 32px 0
    
}

.section-three .subject {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px}

.section-three .description {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
text-align: center;}
/* #endregion */

/* #region section-four */
.section-four {background: #ffffff;
    padding: 120px 0 120px 0
}

.title-four-sect {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    }
.list-sect-four{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.item-sect-four {
    width: calc((100% - 48px) / 3);
    
}
.info-subj-sect-four {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.section-four .container {
   
}

.subject {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
    }

.description {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

/* #endregion */

/* #region footer */
.footer 
{background-color: #2e2f42;
color:#f4f4fd;
padding: 100px 0;
}
.logo-footer {font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
display: inline-block;
margin-bottom: 16px;}

.footer-span {font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;}


.logo-style-footer {font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.footer-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;}
/* #endregion footer */